.bannerTitle {
	padding-top: 20vh;
}
.headerText {
	width: 50%;
}

@media only screen and (max-width: 688px) {
	.headerTitle {
		font-size: 50px !important;
		text-align: center;
	}
	.headerText {
		width: 100% !important;
		text-align: center;
	}
	.bannerBTN {
		text-align: center !important;
	}
}
